* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    color: navy;
}

.menu ul {
    display: flex;  
    background-color: lightblue;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 700px;
    flex-direction: row;
}   

.menu li {
    flex: 1;
    list-style: none;
    text-align: center;

}

.menu img {
    height: 200px;
    width: 200px;
    flex: 1;

}

.menu p {
    display: inline;
}

.ShoresNine {
    display: flex;
}

.ShoresNine p {
    Width: 1050px;
}

.ShoresNine img {
    Height: 200px;
    Width: 200px;
    margin-left: auto;
}