* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    color: navy;
}

nav {
    float:left;
    width: 100%;
}

.menu {
    margin: 0;
    padding: 0px;
    height: 40px;
    background-color: navy;
    border-width: 2px;
    border-color: red; 
    border-style: dotted;
}

.menu li {
    display: inline;

}

.linky {
    color:white;
    padding: 10px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;

}